<br>
<table class="col-6 offset-3 table table-hover table-bordered">
    <tr class='thead-dark'>
        <th>Category Name</th>
    </tr>

    <tr>
        <td><%= @category.name %></td>
    </tr>
</table>

<%= link_to 'Create SubCategory', new_category_sub_category_path(@category), class: 'btn btn-primary btn-sm' %>
<%= link_to 'Show All SubCategory', category_sub_categories_path(@category), class: 'btn btn-primary btn-sm' %>
<%= link_to 'Back', categories_path, class: 'btn btn-primary btn-sm' %>